{% set pagination = solid.getPagination() %}
<div>
  <ul class="pagination">
    {% if pagination.pages|length > 1 %}
    	{% if pagination.previous %}
    		<li><a href="{{ pagination.previous_url }}">Prev</a></li>
        {% endif %}
    
    	{% for page in pagination.pages %}
          {% if page.number == pagination.current %}
              <li class="active"><a href="{{ page.url }}">{{ page.number }}</a></li>
          {% else %}
             <li ><a href="{{ page.url }}">{{ page.number }}</a></li>
          {% endif %}
        {% endfor %}
    
    	{% if pagination.next %}
        	<li><a href="{{ pagination.next_url }}">Next</a></li>
        {% endif %}
    {% endif %}
  </ul>
<div>