{% set firstsegment = solid.getUrlsegment(1) %}
<!-- breadcrumb -->
     <div class="row">
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          
          {% if firstsegment == "" %}
            	<li class="active">Index</li>
          
          {% elseif firstsegment == "page" %}
          	{% set pa = page.getList({"nicename":solid.getUrlsegment(2)})[0] %}
          	<li class="active">{{ pa.name }}</li>
          
          
          
          {% elseif firstsegment == "category" %}
          	{% set cat_current = category.getList({"nicename":solid.getUrlsegment(2)})[0] %}
          	{% set string_parentcats= "" %}
          
          	{% if cat_current.parent_id != 0 %}
          		{% set cat_parent = category.getList({"id":cat_current.parent_id})[0] %}
          		{% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name %}
 				{% if cat_parent.parent_id != 0 %}
          			{% set cat_parent = category.getList({"id":cat_parent.parent_id})[0] %}
          			{% set string_parentcats = cat_parent.url ~',' ~ cat_parent.name~'|' ~ string_parentcats %}
          		{% endif %}
          	{% endif %}

          	{% if string_parentcats != "" %}
              {% set arr_parentcats = string_parentcats|explode("|") %}
              {% for string_parentcat in arr_parentcats %}
                     {% set arr_parentcat = string_parentcat|explode(",") %}
                      <li><a href="{{arr_parentcat[0]}}">{{arr_parentcat[1]}}</a></li>
              {% endfor %}  
			{% endif %}
          
          	<li class="active">{{ cat_current.name }}</li>
          {% elseif firstsegment == "cart" %}
          	<li class="active">Cart</li>
          
          
          {% elseif firstsegment == "product" %}
          	{% set p = product.getList({"nicename":solid.getUrlsegment(2)})[0] %}
          	{% for prod_cat in p.categories %}
				<li><a href="{{prod_cat.url}}">{{prod_cat.name}}</a> </li>
          	
            {% endfor %}
          	<li class="active">{{ p.name }}</li>
          
          
          {% elseif firstsegment == "search" %}
          	<li class="active">Search results for {{solid.getUrlsegment(2)|url_decode}}</li>
          
          {% elseif firstsegment == "contact" %}
          <li class="active">Contact</li>
          
          {% endif %}
        </ul>
        
        
     
     </div> <!-- end breadcrumb -->