<!-- heading -->
	 {% set pages = page.getList() %}
     {% set cart = cart.get() %}
     <div class="row">
			<div class="col-md-4 logo">
              <a href="/">
				<h1>{{solid.shop_name}}</h1>
			</a>
			</div>
            <div class="col-md-4" style="text-align:right;">
				{% for p in pages %}
              		<a href="{{ p.url }}">{{ p.name }}</a>
                  	{% if loop.index != pages|length %}|{% endif %}
              	{% endfor %}
              	| <a href="/contact">Contact</a>
			</div>
			<div class="col-md-4" style="text-align:right;">
				{% if cart.items_quantity == 0 %}
                     Your cart is empty
                {% elseif cart.items_quantity == 1 %}
                      <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
                        You have <span class="items_in_cart">{{ cart.items_quantity }} item</span><br /> in your cart
                      </a>
                {% else %}
                      <a title="View shopping cart" href="{{ solid.shop_url }}/cart">
                        Cart: {{ cart.items_quantity }} items - {{cart.total|currency("symbol") }}
                      </a>
                {% endif %}				
			</div>
		
     </div> <!-- end heading -->