<!-- horizontal category menu -->
     <div class="row">      
        
        
        <ul class="nav nav-tabs">
          {% for cat in category.getList() %}
            {% if cat.subcategories|length > 0 %}
          
            <li class="dropdown">
                           <a class="dropdown-toggle" data-toggle="dropdown" href="{{ cat.url }}">{{ cat.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu">
                 {% for subcat in cat.subcategories %}
                          {% if loop.index != 1 %}
                               <li class="divider"></li>
                          {% endif %}
                      <li><a href="{{ subcat.url }}" title="{{ subcat.name }}">{{ subcat.name }}</a></li>
                            {% for lowestcat in subcat.subcategories %}
                                     <li><a href="{{ lowestcat.url }}" title="{{ lowestcat.name }}">->{{ lowestcat.name }}</a></li>
                           {% endfor %}
                    
                 {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ cat.url }}" title="{{ cat.name }}">{{ cat.name }}</a></li>
            {% endif %}
          {% endfor %}
			<li class="pull-right">
              <form class="navbar-form navbar-left" role="search" method="post" action="/search">
                <div class="form-group">
                  {% if solid.getUrlSegment(1) == "search" %}
                      <input type="text" class="form-control" placeholder="Search" name ="query" value="{{solid.getUrlSegment(2)|url_decode}}">
                  {% else %}
                     <input type="text" class="form-control" placeholder="Search" name ="query" value="">
                  {% endif %}
                </div>
                
              </form>
          	</li>
        </ul> 
     </div> <!-- horizontal category menu -->