<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
    	<title>{{ solid.shop_name }}: cart</title>
        <meta name="description" content="Cart for {{ solid.shop_name }}" />
    	<meta name="keywords" content="" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_navigation") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     

     <!-- cart -->
     {% set cart = cart.get() %}
     <div class="row">
     <div class="col-md-12">

    
     <h1> Shopping Cart</h1><br>
    	<form action="" method="post">
        <table class="table table-bordered table-striped">
            <thead>
                 <tr>
                    <th>Image</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub-total</th>
                    <th>Remove</th>
                 </tr>
               </thead>
               <tbody>
             
             
              {% for item in cart.items %}
                <tr>
                  <td>
                    {% if item.thumbnail %}
                         <a href="{{ item.url }}"><img width="40" height="40" src="{{ item.thumbnail }}" /></a>
                    {% else %}
                   
                    <a href="{{ item.url }}"><img width="40" height="40" src="https://dummyimage.com/300x200/000/fff&text={{item.id}}" /></a>
                    {% endif %}
                  </td>
                  <td><a href="{{ item.url }}">{{ item.name }}</a></td>
                  <td>{{ item.price|currency("symbol") }}</td>
                  <td>
                    <input type="text" name ="quantity_{{ item.id }}" class="form-control" placeholder="{{ item.quantity }}"/>
                  </td>
                  <td>{{ item.price_total|currency("symbol") }}</td>
                  <td><a href="/cart/remove/{{item.id}}" title="Remove From Cart" rel="{{ item.id }}">Remove</a></td>
                </tr>    
              {% endfor %}
              
                 
              <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                  Total items<br/>
                  Shipping total<br/>
                  Grand total
                </td>
                    <td>
                  <strong>
                  {{ cart.items_total|currency("symbol") }}<br/>
                  {{ cart.shipping_total|currency("symbol") }}<br/>
                  {{cart.total|currency("symbol") }}
                  </strong>
                </td>
                 </tr>    
               </tbody>
            </table>



          <div class="row">
               <div class="col-md-4">
               </div>   
               <div class="col-md-5">
               Ship to:  {{ solid.htmlShippingCountries() }} 
               </div>   
               <div class="col-md-1">
                 <button type="submit" class="btn btn-primary pull-right" name="btnupdate">Update</button>
               </div>
               <div class="col-md-2">
                 <button type="submit" class="btn btn-primary pull-right" name="btncheckout">Checkout</button>
               </div> 
          </div>
          
          </form>


     </div>
      </div>
     
     
     
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>