{% set cat = category.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
        <title>{{ solid.shop_name }} -> {{cat.name}}</title>
        <meta name="description" content="{{cat.name}}" />
    	<meta name="keywords" content="{{cat.name}}" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_navigation") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     

     <!-- products in category -->
         {% set products = product.getList({"count": 12, "pagination":"true", "order": "id:desc", "cat": cat.nicename}) %}

       
       
       
           <!-- products -->   
    <div class="row">
             {% for product in products %}
                <div class="col-sm-3 col-md-3">
                  <div class="thumbnail">
    
                       <a href="{{ product.url }}">
                          {% if product.thumbnail %}
                          <img  src="{{ product.images[0].full }}" alt="{{ product.name }}" class="img-responsive"/>
                          {% else %}
                          <img  src="https://dummyimage.com/300x200/000/fff&text={{product.id}}" alt="{{ product.name }}" class="img-responsive" />
                          {% endif %}
                       </a>
                      <div class="caption">
                          <h5><a href="{{ product.url }}" title="{{ product.name }}">{{product.name}}</a></h5>
                          <p>{{product.price|currency("symbol")}}</p>
                          <p></p>
                      </div>
                  </div>
                </div>
             {% endfor %}
    </div>  
    <!-- end products -->
       
       
       
       
     <div class="row">
        {{ solid.embed("pagination") }}	
     </div>
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>