<!DOCTYPE html>
<html lang="en">
  <head>
	{{ solid.embed("meta") }}
    <title>{{ solid.shop_name }} -> Contact</title>
    <meta name="description" content="Contact us." />
    <meta name="keywords" content="contact" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_category_horizontal") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     
    <!-- contact -->
    <div class="row">
    

      
  		<form action="/sendmail" method="post" role="form"> 
          <legend>Contact us:</legend>
          

          {% if solid.getUrlsegment(3) == "false" %}
              <div class="alert alert-danger">
                  Please complete all fields to contact us
              </div>
          {% endif %}
           
          {% if solid.getUrlsegment(3) == "true" %}
              <div class="alert alert-success">
                  Thank you! Your email has been sent.
              </div>
          {% endif %}
          
          

          <div class="form-group">
            <label for="email">Your email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" class="form-control"></textarea>
          </div>
          <div class="form-group">
            {% set captcha = solid.getCaptcha() %}
            <label for='captcha'>Enter the word below</label>
            <input type="text" class="form-control" name='captcha[input]' id='captcha'>
            <input name='captcha[id]' type='hidden' id='' value='{{ captcha.id }}' />
          </div>
           <div class="form-group">
            <label ></label>
             <img src="{{ captcha.image }}" alt="Enter this word" />  
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    
    
    
    </div><!-- end contact -->
       
       
       

     
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>