{% set p = page.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
		{{ solid.embed("meta") }}
       	<title>{{ solid.shop_name }}: -> {{p.name}}</title>
        <meta name="description" content="{{ p.content|strip_tags|trim }}" />
        <meta name="keywords" content="" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
	{{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
	{{ solid.embed("row_navigation") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     

     <!-- page content -->
     <div class="pagecontent">    
      <h2>{{ p.name }}</h2>
      <p>
        {{ p.content }}
      </p>
    </div>
     
     
   	<!-- footer -->	
   	{{ solid.embed("row_footer") }}	
    </div>
  </body>
</html>