{% set p = product.get() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ solid.embed("meta") }}
      <title>{{ solid.shop_name }} -> {{p.name}}</title>
        <meta name="description" content="{{ p.description|strip_tags|trim  }}" />
        <meta name="keywords" content="{{ p.tags }}" />
  </head>

  <body>
   <div class="container">
    <!-- heading -->
  {{ solid.embed("row_header") }}
    <!-- horizontal category menu -->
  {{ solid.embed("row_navigation") }}
    <!-- breadcrumb -->
    {{ solid.embed("row_breadcrumbs") }}
     
      <!-- product details -->
     <form action="/cart/add/{{p.id}}" method="post" >
       
       <div class="row">
             <h2>
              <a href="{{ p.url }}" title="Details: {{ p.name }}">
              {{ p.name }}
              </a>
            </h2>
       </div>
       

         
        <div class="row">

              
            <div class="col-md-9">
                 <div>
                   <h3>Description</h3>
                   {{p.description}}
                 </div>  
                 
              
              
                 <div>
                   <h3>Share</h3>
                   <ul class="nav nav-pills">
                      <li>
                              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      </li>
                      <li>       
                            
                              <a href="https://pinterest.com/pin/create/button/?url={{p.url}}&media={{p.thumbnail}}&description={{p.description|url_encode}}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                             <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
                      </li>         
                      <li>        
                              <iframe src="//www.facebook.com/plugins/like.php?app_id=194266867309086&amp;href={{ p.url|escape }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden;  height:21px;" allowTransparency="true"></iframe>
                      </li>
         			</ul>
                 </div> 
              
              
              
                 
		          <div class="productimages">
                    <h3>Images</h3>

                    {% for image in p.images %}
                         <div class="col-sm-3 col-md-3">
                          <div class="thumbnail">
                               <a href="{{ image.full }}">
                                  <img  src="{{ image.thumbnail }}" alt="{{ product.name }}" class="img-responsive"/>
                               </a>
                          </div>
                        </div>
                    {% else %}
                      <div class="col-sm-3 col-md-3">
                          <div class="thumbnail">
                               <a href="{{ product.url }}">
                                  <img  src="https://dummyimage.com/300x200/000/fff&text={{product.id}}" alt="{{ product.name }}" class="img-responsive" />
                               </a>
                          </div>
                        </div>
                    {% endfor %}
       
                  </div>
                  
                  

              


            </div>

          
          
          
            <div class="col-md-3">
              
                 <div>
                    <h3>Details</h3>
                    <ul class="list-unstyled">
                        <li><strong>Price:</strong></li>
                        <li><span id="placeholder_price">{{ p.price|currency("symbol") }}</span></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><strong>Quantity:</strong></li>
                        {% if p.track_stock == 0 %}
                           <li>Always available</li>
                        {% elseif p.track_stock == 1 %}
                            {% if p.always_available %}
                            Always available
                          {% else %}
                            <li>{{ p.stock }}</li>
                          {% endif %}
                        {% elseif p.track_stock == 2 %}
                          {% if p.always_available %}
                            Per variant, always available
                          {% else %}
                            <li><span id="placeholder_stock">Select variant</span></li>
                          {% endif %}
                        {% endif %}
                      
                    </ul>
                </div>
          
                <div>
                  {% if p.custom_fields|length > 0 %}
                   <h3>Customfields:</h3>
                    {% for field_group,arr_field_group in p.custom_fields %}
                        {% for field_name, arr_field in arr_field_group %}
                        <label><strong>{{ field_name}}:</strong></label>
                        <label>{{ arr_field.value }}</label>
                        {% endfor %}
                    {% endfor %}
                  {% endif %}
                </div>
              
                {% if p.variant_combinations|length > 0 %}  
                <div>
                  <h3>Variants:</h3>
                   <div id="placeholder_variants" class="variants">   
                    <label for="variant_combination">Select a combination</label>
                      <select id="variant_combination" name="variant_combination">
                         {% for variant_combination in p.variant_combinations  %}
                         <option value="{{ variant_combination.id }}">
                           {{ variant_combination.name }} ({{ variant_combination.price|currency("symbol") }})
                          </option>
                         {% endfor %}
                      </select>
                  </div>   
                </div>
              {% endif %}  
               
               
               <button type="submit" class="btn btn-primary">Add to cart</button>  
          
          
            </div>
      </div>
       

       
       
     </form>  
     
     
     
     
     
     <script type="text/javascript" src="https://cdn.solidshops.com/js/solid.js"></script>
     <script type="text/javascript">
    
         /* See the documentation on https://www.solidshops.com/help/javascriptlibrary for information about this library */
        
         function callbackStock(result)
         {
             var btnAddToCart = document.getElementById("btnSubmit");
             var productId = result.id;
             var stock = result.stock;
             
            $("#placeholder_stock").html(stock);
             
           
             if(result.stock > 0)
             {
               //product is in stock
               btnAddToCart.removeAttribute("disabled");
               btnAddToCart.value = "Add to cart";           
             }
             else
             {
               //product is out of stock
               btnAddToCart.setAttribute("disabled", "disabled");
               btnAddToCart.value = "Out of stock";
             }
         }
        
         SolidJS.symbol = "{{ solid.currency_symbol }} ";
         SolidJS.thousand = "{{ solid.currency_thousand }}";
         SolidJS.decimal = "{{ solid.currency_decimal }}";
       
         var p = {{ p|json }};
       
         var options = new Array();
         options['placeholder_price'] = "placeholder_price";
         options['placeholder_variants'] = "placeholder_variants";
         options['callback_stock'] = "callbackStock";
        
       SolidJS.enhanceVariants(p,options);
        
      </script>
     
     <style>
      #placeholder_variants > select {
        display:block;
        margin-bottom:20px;
       }
     </style>
     
     
     <!-- footer -->  
     {{ solid.embed("row_footer") }}  
    </div>
  </body>
</html>